# Python Tricks

<img src="https://www.hitechnectar.com/wp-content/uploads/2019/07/PyPy-vs-Cython-Difference-Between-The-Two-Explained.png">

# 1. Slices

In [1]:
s = slice(3,6)
list_ = [1, 3, 'a', 'b', 5, 11, 16]
text = 'DataScience'
tuple_ = (1,2,3,4,5,6,7)
print(list_[s])
print(text[s])
print(tuple_[s])

['b', 5, 11]
aSc
(4, 5, 6)

## 2.Sorting a list of lists

In [2]:
lst = [[2, 7], [7, 3], [3, 8], [8, 7], [9, 7], [4, 9]]

In [3]:
lst.sort(key = lambda inner:inner[1])
print(lst)

[[7, 3], [2, 7], [8, 7], [9, 7], [3, 8], [4, 9]]

In [4]:
lst.sort(key = lambda inner:inner[0])
print(lst)

[[2, 7], [3, 8], [4, 9], [7, 3], [8, 7], [9, 7]]

## 3.Merging two Dictionaries

In [5]:
# Python code to merge dict using a single
# expression
def Merge(dict1, dict2):
    res = {**dict1, **dict2}
    return res
     
# Driver code
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
dict3 = Merge(dict1, dict2)
print(dict3)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

## 4.Underline utilization in integer

In [6]:
num1 = 100_000_000
num2 = 12_003_420_005
total = num1 + num2
print(f'{total: ,}')

 12,103,420,005

## 5.Library for opening each websites

In [7]:
import webbrowser

In [8]:
webbrowser.open('https://www.hejazizo.com/')

True

## 6.

In [9]:
from copy import deepcopy

In [10]:
list_1 = ['C++','Python','Rust',['HTML','CSSS']]
list_2 = list_1.copy()
list_3 = deepcopy(list_1)

In [11]:
list_2[-1][-1] = 'CSS'

In [12]:
list_1

['C++', 'Python', 'Rust', ['HTML', 'CSS']]

In [13]:
list_3

['C++', 'Python', 'Rust', ['HTML', 'CSSS']]

## 7.

In [14]:
data = None

In [15]:
print(not data)

True

## 8. Print Monthly Calendar

In [5]:
import calendar

In [6]:
print(dir(calendar))

['Calendar', 'EPOCH', 'FRIDAY', 'February', 'HTMLCalendar', 'IllegalMonthError', 'IllegalWeekdayError', 'January', 'LocaleHTMLCalendar', 'LocaleTextCalendar', 'MONDAY', 'SATURDAY', 'SUNDAY', 'THURSDAY', 'TUESDAY', 'TextCalendar', 'WEDNESDAY', '_EPOCH_ORD', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_colwidth', '_locale', '_localized_day', '_localized_month', '_monthlen', '_nextmonth', '_prevmonth', '_spacing', 'c', 'calendar', 'datetime', 'day_abbr', 'day_name', 'different_locale', 'error', 'firstweekday', 'format', 'formatstring', 'isleap', 'leapdays', 'main', 'mdays', 'month', 'month_abbr', 'month_name', 'monthcalendar', 'monthrange', 'prcal', 'prmonth', 'prweek', 'repeat', 'setfirstweekday', 'sys', 'timegm', 'week', 'weekday', 'weekheader']

In [7]:
print(calendar.month(2022,1))

    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [10]:
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

## 9.

In [18]:
import turtle

In [19]:
t = turtle.Turtle()
s = turtle.Screen()
s.bgcolor('#262626')
t.pencolor('#7C909C')
t.speed(100)
col = ('#ED7864','#6E544F','#592F2F','#6E382E')
for n in range(5):
    for x in range(8):
        t.speed(x+10)
        for i in range(2):
            t.pensize(2)
            t.circle(80+n*20,90)
            t.lt(90)
        t.lt(45)
    t.pencolor(col[n%4])
s.exitonclick()

## 10.Ellipsis

In [ ]:
def func():
    pass

In [14]:
def func():
    ...

In [15]:
...

Ellipsis

In [16]:
from dataclasses import dataclass

@dataclass
class Card:
    rank: str
    suit: str
    
card = Card("Q", "hearts")

print(card == card)
# True

print(card.rank)
# 'Q'

print(card)
Card(rank='Q', suit='hearts')

True
Q
Card(rank='Q', suit='hearts')

Card(rank='Q', suit='hearts')

## 12.In place variable swapping

In [17]:
a = 1
b = 2
a, b = b, a
print (a)
# 2
print (b)
# 1

2
1

## 13 Pretty Print: (Pprint)

In [2]:
import pprint

data = {'place_id': 259174015, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 
        'osm_type': 'way', 'osm_id': 12316939, 'boundingbox': ['42.983431438214', '42.983531438214', '-78.706880444495', 
        '-78.706780444495'], 'lat': '42.983481438214326', 'lon': '-78.70683044449504', 'display_name': '''230, Fifth Avenue,
        Sheridan Meadows, Amherst Town, Erie County, New York, 14221, United States of America''', 
        'class': 'place', 'type': 'house', 'importance': 0.511}

pprint.pprint(data, indent=3)

{  'boundingbox': [  '42.983431438214',
                     '42.983531438214',
                     '-78.706880444495',
                     '-78.706780444495'],
   'class': 'place',
   'display_name': '230, Fifth Avenue,\n'
                   '        Sheridan Meadows, Amherst Town, Erie County, New '
                   'York, 14221, United States of America',
   'importance': 0.511,
   'lat': '42.983481438214326',
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. '
              'https://osm.org/copyright',
   'lon': '-78.70683044449504',
   'osm_id': 12316939,
   'osm_type': 'way',
   'place_id': 259174015,
   'type': 'house'}

## 14.Python Working Directory: (os.getcwd())

In [3]:
import os
dirpath = os.getcwd()

In [4]:
dirpath

'C:\\Users\\user\\OneDrive\\Desktop'

## 15. Condition Inside the print Function

Have you ever thought you could write the entire condition inside the print function and print the output based on the conditions? Here is how you can achieve this:

In [5]:
print("odd" if int(input("Enter a num: "))%2 else "even")

Enter a num: 2
even

## 16.Conditional List — All

When you have to add conditions dynamically, this trick works like a charm. This trick can even become a stress remover when the number of conditions increases and you have to write them manually.
The all method can be used to match all the conditions or work in place of the and condition.

In [6]:
score=325
wickets=7
catch=4
list_cond=[score>320,
           wickets<8,
           catch>3]
if(all(list_cond)):
    print("Pranjal Saxena")
else:
    print("Lose")

Pranjal Saxena

## 17. Conditional List — Any

We can use the same conditional list with the any method in Python to check whether anyone’s condition satisfies it.

In [7]:
score=200
wickets=7
catch=4
list_cond=[score>320,
           wickets<8,
           catch>3]
if(any(list_cond)):
    print("Win")
else:
    print("Lose")

Win

## 18.Most Repeated Object
If you want to check what object in your list repeats the most, we can use the following line of code. This approach uses the max function with the key attribute to find the most repeated element:

In [9]:
li=[1,5,8,6,5,9,6,9,5,6,9,6,5,4,"a","a","b","b","a","a","a"]
print(max(set(li), key=li.count))

a

## 19.Partial assignments: (List Unpacking)
Do you want to assign one or more elements of a list specifically and assign all the remains to something else? Easy with Python.

Check out this syntax that makes use of * unpacking notation in Python:

In [11]:
lst = [10, 20, 30, 40]
a, *b = lst
print(a)
print(b)

10
[20, 30, 40]

## 20.Ordered Dictionaries: (from collections)
Python’s default dictionary data structure doesn’t have any index order. You can think of key-value pairs as mixed items in a bag. This makes dictionaries very efficient to work with. However, sometimes you just need your dictionary to be ordered.

No worries, Python’s collections library has a module named OrderedDict that does just that.

In [12]:
import collections

d = collections.OrderedDict()
d[1] = 100
d[2] = 200

print(d)

OrderedDict([(1, 100), (2, 200)])

## 21.Permutations: (from itertools)

Whether it’s betting with your friends, calculating a sophisticated mathematical equation, reading Adam Fawer’s Improbable or evaluating your chances before a Vegas trip; you never know when you might need a couple of permutation calculations.

Thanks to Python you don’t have to go through the tedious arithmetics of permutations and you can get it done with a simple piece of code.

Check out this making use of permutations method from itertools library:

First print shows to total amount of different probabilities, second print demonstrates all the possible events.

In [13]:
import itertools

lst = [1,2,3,4,5]
print(len(list((itertools.permutations(lst)))))

for i in itertools.permutations(lst):
        
    print (i, end="\n")

120
(1, 2, 3, 4, 5)
(1, 2, 3, 5, 4)
(1, 2, 4, 3, 5)
(1, 2, 4, 5, 3)
(1, 2, 5, 3, 4)
(1, 2, 5, 4, 3)
(1, 3, 2, 4, 5)
(1, 3, 2, 5, 4)
(1, 3, 4, 2, 5)
(1, 3, 4, 5, 2)
(1, 3, 5, 2, 4)
(1, 3, 5, 4, 2)
(1, 4, 2, 3, 5)
(1, 4, 2, 5, 3)
(1, 4, 3, 2, 5)
(1, 4, 3, 5, 2)
(1, 4, 5, 2, 3)
(1, 4, 5, 3, 2)
(1, 5, 2, 3, 4)
(1, 5, 2, 4, 3)
(1, 5, 3, 2, 4)
(1, 5, 3, 4, 2)
(1, 5, 4, 2, 3)
(1, 5, 4, 3, 2)
(2, 1, 3, 4, 5)
(2, 1, 3, 5, 4)
(2, 1, 4, 3, 5)
(2, 1, 4, 5, 3)
(2, 1, 5, 3, 4)
(2, 1, 5, 4, 3)
(2, 3, 1, 4, 5)
(2, 3, 1, 5, 4)
(2, 3, 4, 1, 5)
(2, 3, 4, 5, 1)
(2, 3, 5, 1, 4)
(2, 3, 5, 4, 1)
(2, 4, 1, 3, 5)
(2, 4, 1, 5, 3)
(2, 4, 3, 1, 5)
(2, 4, 3, 5, 1)
(2, 4, 5, 1, 3)
(2, 4, 5, 3, 1)
(2, 5, 1, 3, 4)
(2, 5, 1, 4, 3)
(2, 5, 3, 1, 4)
(2, 5, 3, 4, 1)
(2, 5, 4, 1, 3)
(2, 5, 4, 3, 1)
(3, 1, 2, 4, 5)
(3, 1, 2, 5, 4)
(3, 1, 4, 2, 5)
(3, 1, 4, 5, 2)
(3, 1, 5, 2, 4)
(3, 1, 5, 4, 2)
(3, 2, 1, 4, 5)
(3, 2, 1, 5, 4)
(3, 2, 4, 1, 5)
(3, 2, 4, 5, 1)
(3, 2, 5, 1, 4)
(3, 2, 5, 4, 1)
(3, 4, 1, 2, 5)
(3, 4, 1, 5, 2)
(3, 4, 2, 1, 5)
(3, 4, 2, 5, 1)
(3, 4, 5, 1, 2)
(3, 4, 5, 2, 1)
(3, 5, 1, 2, 4)
(3, 5, 1, 4, 2)
(3, 5, 2, 1, 4)
(3, 5, 2, 4, 1)
(3, 5, 4, 1, 2)
(3, 5, 4, 2, 1)
(4, 1, 2, 3, 5)
(4, 1, 2, 5, 3)
(4, 1, 3, 2, 5)
(4, 1, 3, 5, 2)
(4, 1, 5, 2, 3)
(4, 1, 5, 3, 2)
(4, 2, 1, 3, 5)
(4, 2, 1, 5, 3)
(4, 2, 3, 1, 5)
(4, 2, 3, 5, 1)
(4, 2, 5, 1, 3)
(4, 2, 5, 3, 1)
(4, 3, 1, 2, 5)
(4, 3, 1, 5, 2)
(4, 3, 2, 1, 5)
(4, 3, 2, 5, 1)
(4, 3, 5, 1, 2)
(4, 3, 5, 2, 1)
(4, 5, 1, 2, 3)
(4, 5, 1, 3, 2)
(4, 5, 2, 1, 3)
(4, 5, 2, 3, 1)
(4, 5, 3, 1, 2)
(4, 5, 3, 2, 1)
(5, 1, 2, 3, 4)
(5, 1, 2, 4, 3)
(5, 1, 3, 2, 4)
(5, 1, 3, 4, 2)
(5, 1, 4, 2, 3)
(5, 1, 4, 3, 2)
(5, 2, 1, 3, 4)
(5, 2, 1, 4, 3)
(5, 2, 3, 1, 4)
(5, 2, 3, 4, 1)
(5, 2, 4, 1, 3)
(5, 2, 4, 3, 1)
(5, 3, 1, 2, 4)
(5, 3, 1, 4, 2)
(5, 3, 2, 1, 4)
(5, 3, 2, 4, 1)
(5, 3, 4, 1, 2)
(5, 3, 4, 2, 1)
(5, 4, 1, 2, 3)
(5, 4, 1, 3, 2)
(5, 4, 2, 1, 3)
(5, 4, 2, 3, 1)
(5, 4, 3, 1, 2)
(5, 4, 3, 2, 1)

Here is a little twist if you’d like to see all the different numbers that are possible to generate with those 5 integers:

In [14]:
import itertools

lst = [1,2,3,4,5]
print(len(list((itertools.permutations(lst)))))
for i in itertools.permutations(lst):
        
    print (''.join(str(j) for j in i), end="|")

120
12345|12354|12435|12453|12534|12543|13245|13254|13425|13452|13524|13542|14235|14253|14325|14352|14523|14532|15234|15243|15324|15342|15423|15432|21345|21354|21435|21453|21534|21543|23145|23154|23415|23451|23514|23541|24135|24153|24315|24351|24513|24531|25134|25143|25314|25341|25413|25431|31245|31254|31425|31452|31524|31542|32145|32154|32415|32451|32514|32541|34125|34152|34215|34251|34512|34521|35124|35142|35214|35241|35412|35421|41235|41253|41325|41352|41523|41532|42135|42153|42315|42351|42513|42531|43125|43152|43215|43251|43512|43521|45123|45132|45213|45231|45312|45321|51234|51243|51324|51342|51423|51432|52134|52143|52314|52341|52413|52431|53124|53142|53214|53241|53412|53421|54123|54132|54213|54231|54312|54321|

## 22.Make it immutable: (frozenset)

frozenset() function allows lists to be immutable.

On some occasions you might have started your program with a list instead of tuples because of the conclusion that mutable data structure is more suitable for the project. But things change, projects evolve and ideas are known to change route. Now you decide that you needed immutable structure but it seems to late to undertake the tedious work of converting your lists? No worries. frozenset() will make it a breeze.

In [16]:
lst = ["June", "July", "August"]

lst[0]="May"
print(lst)

['May', 'July', 'August']

## 23.Swapping Dictionary Key & Values: (dict comprehension method)
Dictionary Comprehension is a great way to achieve some dictionary operations, here is a great example:

In [17]:
a = {1:11, 2:22, 3:33}

b = (a.items())
c = {i:j for j,i in b}

print(c)

{11: 1, 22: 2, 33: 3}

## 24.to_bytes: (Numbers to Bytes)